<div id="ecuLeft">

   {{#if detailEcurie}}
      {{#each detailEcurie}}
         <div id="ecuTop">
            <div id="ecuG">
                  <img src="/image/ecurie/{{this.ecuadresseimage}}" alt="Image de l'écurie">
            </div>
            <div id="ecuM">
                  <label><b>Nom</b> : {{this.ecunom}}</label><br /><br />
                  <label><b>Directeur</b> : {{this.ecunomdir}} m</label><br /><br />
                  <label><b>Adresse</b> : {{this.ecuadrsiege}}</label><br /><br />
                  <label><b>Pays</b> : {{this.paynom}}</label><br /><br />
            </div>

            <p>
            {{#if ../listePilotes}}
               <label><b>Pilotes : </b></label><br />
               {{#each ../listePilotes}}
                  <a class="tooltip" href="/repertoirePilote/pilote/{{this.pilnum}}">{{this.pilprenom}} {{this.pilnom}}
                  <span>
                     <img class="portrait" src="/image/pilote/{{./phoadresse}}" alt="portrait">
                     <label><b>{{this.pilprenom}} {{this.pilnom}}</b></label><br />
                     <label>{{this.piltexte}} ...</label>
                  </span>
                  </a><br />
               {{/each}}
               <br /><br />
               <table class="tabListeEcuries">
                  <tr>
                     {{#each ../listeVoitures}}
                     <td>
                        <img class="imgVoiture" src="/image/ecurie/voiture/{{this.voiadresseimage}}" alt="Image Voiture"><br />
                        <label>{{this.voinom}}</label><br/>
                        <label>{{this.typelibelle}}</label><br />
                     </td>
                     {{/each}}
                  </tr>
               </table>
            {{else}}
               Cette écurie ne participe pas au championnat cette année.
            {{/if}}
            </p>
            
         </div>
      {{/each}}
   {{/if}}
</div>

{{> ecuries}}

