<h1>Liste des circuits enregistrés</h1>
<div id="cirLeft">

{{#if detailCircuit}}
    {{#each detailCircuit}}

    <div id="cirTop">
        <div id="cirG">
            <img src="/image/circuit/{{this.ciradresseimage}}" alt="Image du circuit">
        </div>
        <div id="cirM">
            <label><b>Nom</b> : {{this.cirnom}}</label><br /><br />
            <label><b>Longueur</b> : {{this.cirlongueur}} m</label><br /><br />
            <label><b>Nombre de spectateurs</b> : {{this.cirnbspectateurs}}</label><br /><br />
            <label><b>Pays</b> : {{this.paynom}}</label><br /><br />
        </div>
    </div>
    
    {{/each}}


{{/if}}
</div>
    {{> circuits}}

    

<div>
    {{#if detailCircuit}}

        {{#each detailCircuit}}

            <p>
                {{cirtext}}
            </p>
        {{/each}}
    {{/if}}

</div>