<h1>Liste des résulats</h1>
<div id="resLeft">

{{#if detailRes}}
    {{#each detailCircuit}}

    <div id="cirTop">
        <div id="cirG">
            <img src="/image/circuit/{{this.ciradresseimage}}" alt="Image du circuit">
        </div>
        <div id="cirM">
            <label><b>Nom</b> : {{this.cirnom}}</label><br /><br />
            <label><b>Longueur</b> : {{this.cirlongueur}} m</label><br /><br />
            <label><b>Nombre de spectateurs</b> : {{this.cirnbspectateurs}}</label><br /><br />
            <label><b>Pays</b> : {{this.paynom}}</label><br /><br />
        </div>
    </div>
    
    {{/each}}


{{/if}}
</div>

    

<div id="resultGPLeft">
    {{#if detailRes}}
        <table id="resultGPTab">
            <tr>
                <th>Place</th>
                <th>Pilote</th>
                <th>Temps</th>
                <th>Nb points</th>
            </tr>

            {{#each detailRes}}
            <tr>
                <td>{{inc @index}}</td>
                <td>{{this.pilnom}} {{this.pilprenom}}</td>
                <td>{{this.tempscourse}}</td>
                {{#each ../points}}
                    {{#ifCond this.ptplace '+=' @../index}}
                        <td>{{this.ptnbpointsplace}}</td>
                    {{/ifCond}}
                {{/each}}
            </tr>
            {{/each}}

        </table>
        
    {{/if}}

</div>


{{> resultats}}

{{#if desc}}
<p id="resuDesc">
    {{desc.gpcommentaire}}
</p>
{{/if}}