{{> lettres}}

<table class="tabListePilotes">
    <tr>
        {{#each listePilotes}}
        <td>
            <a href="/repertoirePilote/pilote/{{this.pilnum}}">
                <img class="portrait" src="/image/pilote/{{this.phoadresse}}" alt="portrait"> <br />
                <span>{{this.pilprenom}}</span><br />
                <span>{{this.pilnom}}</span>
            </a>
        </td>
        {{/each}}
    </tr>
</table>

{{!-- Pour n'afficher cette partie que si on a selectionné un pilote, donc, si le poids est non nul --}}
{{#ifCond  poids '>' 0}}
            
<div>
    <div id="pilTop">
        <div id="pilEG">
            <img src="/image/pilote/{{photoPrinc}}" alt="Photo principale">
        </div>

        <div id="pilG">
            <label><b>Nom</b> : {{pilNom}}</label> <br /> <br />
            <label><b>Date de naissance</b> : {{pilDate}} </label><br /><br />
            <label><b>Nationalité</b> : {{paynom}} </label><br /><br />
            {{#if ecurie}}
                <label><b>Écurie</b> : {{ecurie}} </label>
            {{else}}
                <label><b>Écurie</b> : Pas d'écurie cette année </label>
            {{/if}}

        </div>

        <div id="pilD">
            <label><b>Poids</b> : {{poids}} Kg</label><br /> <br />
            <label><b>Taille</b> : {{taille}} cm</label><br /><br /><br />
        </div>
    </div>

    <br />

    {{#each sponsors}}
        {{#ifCond  this.SPONUM '==' 1}}
            <label><b>Principaux sponsors</b> :</label><br />
        {{/ifCond}}

        <div>
            <label> <b>{{this.SPONOM}}</b> ({{this.SPOSECTACTIVITE}}) </label> <br />
        </div>

    {{/each}}



    <br /> <br />

    <div>
        <label><b>Qui suis-je ? : </b></label><span>{{whoami}}</span>

    </div>

   

    

    <table class="tabListePilotes">
        <tr>
            {{#each photos}}
                {{#ifCond this.phonum '>' 1}}
                    <td>
                        <a href="/image/pilote/{{this.phoadresse}}" data-lightbox="roadtrip" data-title="{{this.phosujet}}<br /> {{this.phocommentaire}}">
                            <img class="portrait" src="/image/pilote/{{this.phoadresse}}" alt="portrait">
                        </a> <br />
                    </td>
                {{/ifCond}}
            {{/each}}
        </tr>
    </table>


</div>

{{/ifCond}}