<!DOCTYPE html>
<html lang="fr">

<head>
	<title> {{title}}</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/image/favicon.png" />

	<link rel="stylesheet" href="/css/structure.css" />
	<script src="/lightbox2/dist/js/lightbox-plus-jquery.js"></script>

	<link href="/lightbox2/src/css/lightbox.css" rel="stylesheet" />

</head>

<body class="monBody">
<div id="container">
	<div id="header">
	<img src="/image/header.jpg" alt="WROOM l'encyclopédie de la F1" />
	</div>
	<div id="menu">
		<a href="/accueil">ACCUEIL</a> |
		<a href="/repertoirePilote">REPERTOIRE DES PILOTES</a> |
		<a href="/circuits">LES CIRCUITS 2020</a> |
		<a href="/ecuries">ECURIES</a> |
		<a href="/resultats">RESULTATS</a>
	</div>
	<div id="contenu">
		<br/>
		<br/>
			{{{body}}}
	</div>
				<div id="footer">
					L'encyclopédie de la F1 depuis janvier 2020 (en NodeJS)
					<br />
					© IUT du Limousin DUT Informatique année 2
					<br />
					<br />
                Appllication réalisée par Quentin DELAGE
                <br />
					<img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
			</div>

</div>
</body>
</html>
