<div id="fondNoirAdmin">

    <div class="banniere">
        <h1>Administration</h1>
    </div>

    {{#if session.connected}}

    <div class="banniere">
        <h2>Vous êtes connecté</h2>

        <a id="submitConnexion" href="/connexion/deconnexion" class="">Déconnexion</a>
    </div>


    {{else}}

    <form id="connexionForm" method="POST" action="/connexion">
        <table>
            <tr>
                <td>Login :</td>
                <td><input name="login" type="text"></td>
            </tr>
            <tr>
                <td>Mot de passe :</td>
                <td><input name="passwd" type="password"></td>
            </tr>
        </table>
        
        
        <input type="submit" value="Connexion">

    </form>

    {{/if}}

</div>
