<div class="banniere">
    <img src="/image/cat_resultat.png" alt="logo">

    <h1>Resultats</h1>

    {{#if gps}}

    <p>Sélectionner un grand prix :</p>
    <form action="/gestionResultats/SaisieResultats/" method="POST">
        <select name="gp">
            {{#each gps}}
            <option value="{{this.gpnum}}">{{this.gpnom}}</option>
            {{/each}}
        </select>

        <br />
        <input id="submitResultats" type="submit" value="VALIDER">
        <br />
    
    </form>
    
    
    {{else}}

    <h2>Saisie des résultats</h2>
    
    <form method="POST" action="/gestionResultats/SaisieResultats/">
        {{!-- Il faut retenir le numéro du grand prix sur lequel on est --}}
        <input hidden type="number" name="gp" value="{{gpnum}}">
        {{#if gp}}
        {{else}}
        <h3>Pas de résultats</h3>
        {{/if}}

        <table id="tabResu">
            {{#if gp}}

            <tr>
                <th></th>
                <th>Place</th>
                <th>Pilote</th>
                <th>Temps</th>
                <th>Points</th>
            </tr>

            {{#each gp}}
            <tr>
                <td><button name="supp" value="{{this.pilnum}}"><img src="/image/act_delete.png" alt="supp"></button></td>
                <td>{{inc @index}}</td>
                <td>{{this.pilnom}}</td>
                <td>{{this.tempscourse}}</td>
                {{#each ../points}}
                    {{#ifCond this.ptplace '+=' @../index}}
                        <td>{{this.ptnbpointsplace}}</td>
                    {{/ifCond}}
                {{/each}}
            </tr>
            {{/each}}
 
            {{/if}}

                {{!-- Partie pour ajouter un pilote --}}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <select name="pilote">
                            <option value="" selected>Pilote</option>
                            {{#each pilotes}}
                            <option value="{{this.pilnum}}">{{this.pilnom}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <input required name="m" class="inputTemps" type="number" min="0" value="0"> : 
                        <input required name="s" class="inputTemps" type="number" min="0" value="0"> : 
                        <input required name="ms" class="inputTemps" type="number" min="0" value="0">
                    </td>
                    <td>
                        <input id="submitResu" type="submit" value="OK">
                    </td>

                </tr>
            
        </table>
    </form>


    {{/if}}

</div>