<table class="tabpayscir">
	 {{#each listeEcurie}}
      <tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
         <a href="/detailEcurie/{{this.ecunum}}"> {{this.ecunom}}</a>
      </td></tr>
   {{/each}}
</table>
<br class="myboth" />