<table class="tabpayscir">
    {{#each listeGP}}
        <tr><td><img class="imgPays" src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
            <a href="/detailGrandPrix/{{this.gpnum}}"> {{this.gpnom}}</a>
        </td></tr>
    {{/each}}
</table>
<br class="myboth" />